<h3>About:</h3>
<p>This website hosts some webapps I've created utilizing the <a href="https://angularjs.org/">AngularJS</a> framework.</p>

<div class="row marketing">
  <h4>Technologies:</h4>
  
  <h5>Geocode:</h5>
  <ul>
    <li><a href="https://developers.google.com/maps/">Google Maps API</a></li>
  </ul>
  
  <h5>Weather:</h5>
  <ul>
    <li><a href="https://developers.google.com/maps/">Google Maps API</a></li>
    <li><a href="http://openweathermap.org/API">OpenWeatherMap API</a></li>
  </ul>
</div>
