
<div>
  <h3>Weather</h3>

  <div class="container">
    <div class="row">
      <h4>Search for a city:</h4>
    </div>
    <div class="row">
      <!--<div class="col-md-3">-->
        <form class="form-inline" role="form">
          <div class="input-group">
            <label class="sr-only" for="city">City</label>
            <input type="search" class="form-control" id="city" ng-model="city" ng-change="updateForecast()" placeholder="City name" />
          </div>
        </form>
        <br />
        <form class="form-inline" role="form">
          <div class="input-group">
            <label class="radio-inline">
              <input type="radio" ng-model="units" value="imperial"> F
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="units" value="metric"> C
            </label>
          </div>
        </form>
    </div>

    <div ng-show="forecast.list" class="row">
      <hr />
      <h4>City Search Result:</h4>
      <div class="container">
      <div class="col-md-4 col-lg-4">
        City: {{forecast.city.name}}<br />
        Country: {{forecast.city.country}}<br />
        <br />
      </div>
        <!--
        <div class="iframe-rwd">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA&amp;aq=0&amp;oq=seattle&amp;sll=37.822293,-85.76824&amp;sspn=6.628688,16.907959&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+King,+Washington&amp;z=11&amp;ll=47.60621,-122.332071&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA&amp;aq=0&amp;oq=seattle&amp;sll=37.822293,-85.76824&amp;sspn=6.628688,16.907959&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+King,+Washington&amp;z=11&amp;ll=47.60621,-122.332071" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
        -->
        <div class="col-md-8 col-lg-8">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{forecast.city.coord.lat}},{{forecast.city.coord.lon}}&markers=color:red%7Clabel:{{forecast.city.name}}%7C{{forecast.city.coord.lat}},{{forecast.city.coord.lon}}&zoom=6&size=200x200" />
          <!--
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"

            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAi2mb1ARm5xcJN7uwx2nhvUI9FT3NzE-U&q={{forecast.city.coord.lat}},{{forecast.city.coord.lon}}&zoom=9">
          </iframe>
          -->
        </div>
      </div>
    </div>

    <div ng-show="forecast.list" class="row">
      <h4>Weather Forecast:</h4>
      <div class="col-md-2" data-ng-repeat="day in forecast.list">
        <div class="row">
          <span>{{day.dt * 1000 | date:'EEEE'}}</span>
        </div>
        <div class="row">
          <span>{{day.dt * 1000 | date:'MMMM d'}}</span>
        </div>
        <div class="row">
          <img src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" />
        </div>
        <div class="row">
          <span>{{day.weather[0].main}}</span>
        </div>
        <div class="row">
          <span>Low: {{day.temp.min | temperature:units | number:0}}, High: {{day.temp.max | temperature:units | number:0}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
